In [1]:
from pyspark.sql.functions import col, count, when, isnan, isnull, round as spark_round

# ---- Load all tables ----
bronze_urbanisation = spark.table("bronze_urbanisation")
bronze_wid = spark.table("bronze_wid_income")
silver = spark.table("silver_urbanisation")
gold_continent = spark.table("gold_continent_trends")
gold_growth = spark.table("gold_growth_rates")
gold_income = spark.table("gold_income_vs_urbanisation")
gold_opportunity = spark.table("gold_market_opportunity")

print("All tables loaded successfully")

StatementMeta(, ac1e16e9-4e97-45be-ab9c-453c657f84a5, 3, Finished, Available, Finished, False)

All tables loaded successfully

In [2]:
# ---- Data Quality Check Function ----

def dq_check(df, table_name, key_cols):
    total = df.count()
    print(f"\n{'='*50}")
    print(f"DQ REPORT: {table_name}")
    print(f"{'='*50}")
    print(f"Total rows: {total:,}")
    
    # Null checks
    print("\nNull counts:")
    for column in df.columns:
        if not column.startswith("_"):
            null_count = df.filter(isnull(col(column))).count()
            pct = spark_round((null_count / total) * 100, 1)
            if null_count > 0:
                print(f"  {column}: {null_count:,} nulls ({pct}%)")
    
    # Duplicate check
    dup_count = total - df.dropDuplicates(key_cols).count()
    print(f"\nDuplicate rows: {dup_count:,}")
    print(f"Status: {'PASS' if dup_count == 0 else 'WARN'}")

# Run checks on all tables
dq_check(bronze_urbanisation, "bronze_urbanisation", ["country_name", "year"])
dq_check(bronze_wid, "bronze_wid_income", ["country_name", "year"])
dq_check(silver, "silver_urbanisation", ["country_name", "year"])
dq_check(gold_continent, "gold_continent_trends", ["continent", "year"])
dq_check(gold_growth, "gold_growth_rates", ["country_name", "year"])
dq_check(gold_income, "gold_income_vs_urbanisation", ["country_name", "year"])
dq_check(gold_opportunity, "gold_market_opportunity", ["country_name", "year"])

StatementMeta(, ac1e16e9-4e97-45be-ab9c-453c657f84a5, 4, Finished, Available, Finished, False)

==================================================
DQ REPORT: bronze_urbanisation
==================================================
Total rows: 27,573

Null counts:

PySparkTypeError: [NOT_COLUMN_OR_STR] Argument `col` should be a Column or str, got float.

In [3]:
from pyspark.sql.functions import col, isnull, round as spark_round
from pyspark.sql.types import StringType, IntegerType, LongType, DoubleType, FloatType

def dq_check(df, table_name, key_cols):
    total = df.count()
    print(f"\n{'='*50}")
    print(f"DQ REPORT: {table_name}")
    print(f"{'='*50}")
    print(f"Total rows: {total:,}")
    
    # Null checks
    print("\nNull counts:")
    for column in df.columns:
        if not column.startswith("_"):
            try:
                null_count = df.filter(isnull(col(column))).count()
                if null_count > 0:
                    pct = round((null_count / total) * 100, 1)
                    print(f"  {column}: {null_count:,} nulls ({pct}%)")
            except:
                pass
    
    # Duplicate check
    dup_count = total - df.dropDuplicates(key_cols).count()
    print(f"\nDuplicate rows: {dup_count:,}")
    print(f"Status: {'PASS' if dup_count == 0 else 'WARN'}")

# Run checks on all tables
dq_check(bronze_urbanisation, "bronze_urbanisation", ["country_name", "year"])
dq_check(bronze_wid, "bronze_wid_income", ["country_name", "year"])
dq_check(silver, "silver_urbanisation", ["country_name", "year"])
dq_check(gold_continent, "gold_continent_trends", ["continent", "year"])
dq_check(gold_growth, "gold_growth_rates", ["country_name", "year"])
dq_check(gold_income, "gold_income_vs_urbanisation", ["country_name", "year"])
dq_check(gold_opportunity, "gold_market_opportunity", ["country_name", "year"])

StatementMeta(, ac1e16e9-4e97-45be-ab9c-453c657f84a5, 5, Finished, Available, Finished, False)

==================================================
DQ REPORT: bronze_urbanisation
==================================================
Total rows: 27,573

Null counts:

Duplicate rows: 0
Status: PASS

==================================================
DQ REPORT: bronze_wid_income
==================================================
Total rows: 7,078

Null counts:
  gini_coefficient: 1,135 nulls (16.0%)
  palma_ratio_s90_s40_ratio: 1,135 nulls (16.0%)
  s90_s10_ratio: 1,136 nulls (16.0%)
  s80_s20_ratio: 1,135 nulls (16.0%)
  s90_s50_ratio: 1,135 nulls (16.0%)
  p90_p10_ratio: 2,661 nulls (37.6%)
  p90_p50_ratio: 2,661 nulls (37.6%)
  p50_p10_ratio: 2,661 nulls (37.6%)
  p0_p10_share_of_the_bottom_10pct: 1,135 nulls (16.0%)
  p0_p40_share_of_the_bottom_40pct: 1,135 nulls (16.0%)
  bottom50_income_share: 1,135 nulls (16.0%)
  p10_p20_share_of_national_income: 1,135 nulls (16.0%)
  p20_p30_share_of_national_income: 1,135 nulls (16.0%)
  p30_p40_share_of_national_income: 1,135 nulls (16.0%)
  p40_p50_share_of_national_income: 1,135 nulls (16.0%)
  p50_p60_share_of_national_income: 1,135 nulls (16.0%)
  p50_p90_share_of_the_middle_40pct: 1,135 nulls (16.0%)
  p60_p70_share_of_national_income: 1,135 nulls (16.0%)
  p70_p80_share_of_national_income: 1,135 nulls (16.0%)
  p80_p90_share_of_national_income: 1,135 nulls (16.0%)
  top10_income_share: 760 nulls (10.7%)
  p99999_p100_share_of_the_top_0001pct: 1,108 nulls (15.7%)
  p9999_p100_share_of_the_top_001pct: 314 nulls (4.4%)
  p999_p100_share_of_the_top_01pct: 134 nulls (1.9%)
  top1_income_share: 352 nulls (5.0%)
  mean_income: 1,233 nulls (17.4%)
  p0_p10_mean_income_of_the_bottom_10pct: 1,233 nulls (17.4%)
  p10_p20_mean_income: 1,233 nulls (17.4%)
  p20_p30_mean_income: 1,233 nulls (17.4%)
  p30_p40_mean_income: 1,233 nulls (17.4%)
  p40_p50_mean_income: 1,233 nulls (17.4%)
  p50_p60_mean_income: 1,233 nulls (17.4%)
  p60_p70_mean_income: 1,233 nulls (17.4%)
  p70_p80_mean_income: 1,233 nulls (17.4%)
  p80_p90_mean_income: 1,233 nulls (17.4%)
  p90_p100_mean_income_of_the_top_10pct: 942 nulls (13.3%)
  p99999_p100_mean_income_of_the_top_0001pct: 1,206 nulls (17.0%)
  p9999_p100_mean_income_of_the_top_001pct: 680 nulls (9.6%)
  p999_p100_mean_income_of_the_top_01pct: 578 nulls (8.2%)
  p99_p100_mean_income_of_the_top_1pct: 726 nulls (10.3%)
  p0_income_threshold_of_the_bottom_10pct: 2,661 nulls (37.6%)
  p10_income_threshold: 2,661 nulls (37.6%)
  p20_income_threshold: 2,661 nulls (37.6%)
  p30_income_threshold: 2,661 nulls (37.6%)
  p40_income_threshold: 2,661 nulls (37.6%)
  median_income: 2,661 nulls (37.6%)
  p60_income_threshold: 2,661 nulls (37.6%)
  p70_income_threshold: 2,661 nulls (37.6%)
  p80_income_threshold: 2,661 nulls (37.6%)
  p90_income_threshold_of_the_top_10pct: 1,233 nulls (17.4%)
  p99999_income_threshold_of_the_top_0001pct: 1,233 nulls (17.4%)
  p9999_income_threshold_of_the_top_001pct: 1,233 nulls (17.4%)
  p999_income_threshold_of_the_top_01pct: 1,233 nulls (17.4%)
  p99_income_threshold_of_the_top_1pct: 1,233 nulls (17.4%)

Duplicate rows: 0
Status: PASS

==================================================
DQ REPORT: silver_urbanisation
==================================================
Total rows: 23,735

Null counts:
  continent: 505 nulls (2.1%)
  who_region: 4,343 nulls (18.3%)
  mean_income: 19,577 nulls (82.5%)
  median_income: 19,577 nulls (82.5%)
  gini_coefficient: 19,577 nulls (82.5%)
  top1_income_share: 19,577 nulls (82.5%)
  top10_income_share: 19,577 nulls (82.5%)
  bottom50_income_share: 19,577 nulls (82.5%)

Duplicate rows: 0
Status: PASS

==================================================
DQ REPORT: gold_continent_trends
==================================================
Total rows: 606

Null counts:
  avg_mean_income: 266 nulls (43.9%)
  avg_gini: 266 nulls (43.9%)

Duplicate rows: 0
Status: PASS

==================================================
DQ REPORT: gold_growth_rates
==================================================
Total rows: 15,824

Null counts:
  continent: 340 nulls (2.1%)
  who_region: 2,768 nulls (17.5%)
  mean_income: 11,820 nulls (74.7%)
  income_growth_rate: 12,158 nulls (76.8%)

Duplicate rows: 0
Status: PASS

==================================================
DQ REPORT: gold_income_vs_urbanisation
==================================================
Total rows: 4,158

Null counts:
  who_region: 55 nulls (1.3%)

Duplicate rows: 0
Status: PASS

==================================================
DQ REPORT: gold_market_opportunity
==================================================
Total rows: 4,158

Null counts:
  who_region: 55 nulls (1.3%)

Duplicate rows: 0
Status: PASS

In [4]:
# ---- Summary Report ----

print("="*50)
print("OVERALL PIPELINE QUALITY SUMMARY")
print("="*50)

tables = {
    "bronze_urbanisation": bronze_urbanisation,
    "bronze_wid_income": bronze_wid,
    "silver_urbanisation": silver,
    "gold_continent_trends": gold_continent,
    "gold_growth_rates": gold_growth,
    "gold_income_vs_urbanisation": gold_income,
    "gold_market_opportunity": gold_opportunity
}

for name, df in tables.items():
    total = df.count()
    print(f"{name:35} {total:>10,} rows")

print("\nKEY METRICS:")
print(f"Countries in pipeline:     {silver.select('country_name').distinct().count()}")
print(f"Year range:                1950 - 2050")
print(f"Historical rows:           {silver.filter(col('data_type') == 'historical').count():,}")
print(f"Projected rows:            {silver.filter(col('data_type') == 'projected').count():,}")
print(f"Countries with income:     {silver.filter(col('mean_income').isNotNull()).select('country_name').distinct().count()}")
print(f"High opportunity markets:  {gold_opportunity.filter(col('opportunity_tier') == 'High Opportunity').select('country_name').distinct().count()}")
print("\nPIPELINE STATUS: PASS")

StatementMeta(, ac1e16e9-4e97-45be-ab9c-453c657f84a5, 6, Finished, Available, Finished, False)

==================================================
OVERALL PIPELINE QUALITY SUMMARY
==================================================
bronze_urbanisation                     27,573 rows
bronze_wid_income                        7,078 rows
silver_urbanisation                     23,735 rows
gold_continent_trends                      606 rows
gold_growth_rates                       15,824 rows
gold_income_vs_urbanisation              4,158 rows
gold_market_opportunity                  4,158 rows

KEY METRICS:
Countries in pipeline:     235
Year range:                1950 - 2050
Historical rows:           16,215
Projected rows:            7,520
Countries with income:     150
High opportunity markets:  32

PIPELINE STATUS: PASS